/*==============================
=            COLOR PALETTE            =
==============================*/
/*====================================
=            COLOR CONFIG            =
====================================*/
/*===============================
=            BORDERS            = 
===============================*/
/*=============================
=            FONTS            =
=============================*/
/*==================================
=            FONT SIZES            =
==================================*/
/*===================================
=            BREAKPOINTS            =
===================================*/
.mobile-nav ul li {
  background-color: #042e4f;
  border-top: 2px solid #fff; }

.mobile-nav ul li a, #left-column .wide-nav li a {
  display: block;
  padding: 12px; }

#left-column .wide-nav li {
  background-color: #042e4f;
  border-top: 2px solid #fff; }

#left-column .wide-nav li:hover, #left-column .wide-nav .selected {
  background-color: #f9fbfc;
  border-top: 2px solid #042e4f; }

header img, #about img {
  border-radius: 15px;
  border: 3px solid #000; }

#home .welcome, #portfolio .thumb, #contact .contactbox {
  border-radius: 5px;
  border: 6px solid #000; }

/*=================================
=            UNIVERSAL            =
=================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  margin: 0; }

html {
  height: 100%; }

body {
  background-color: #f9fbfc;
  color: #135589;
  min-height: 100%; }

ul {
  list-style-type: none; }

/*==================================== 
=            SPECIFIC USE            = 
====================================*/
.content {
  min-height: 100vh;
  width: 100%; }

.landscape-wrap {
  margin-top: 55px; }
  @media only screen and (min-width: 568px) {
    .landscape-wrap {
      margin-top: 0;
      width: 90%;
      min-height: 100%;
      margin-left: 50px; } }

.shadow2 {
  -moz-box-shadow: inset 0 0 10px #fff;
  -webkit-box-shadow: inset 0 0 10px #fff;
  box-shadow: inset 0 0 10px #fff; }

.shadow1 {
  -webkit-box-shadow: inset 0 0 12px 10px #135589;
  -moz-box-shadow: inset 0 0 12px 10px #135589;
  box-shadow: inset 0 0 12px 10px #135589; }

/*=========================================
=            MOBILE NAVIGATION            =
=========================================*/
#sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  z-index: 100; }

.mobile-nav {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  /*----------  Hamburger Menu  ----------*/
  /*----------  Nav list  ----------*/ }
  @media only screen and (min-width: 568px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav .hamburger {
    width: 100%;
    padding: 12px;
    background-color: #042e4f;
    cursor: pointer;
    z-index: 100;
    position: relative; }
    .mobile-nav .hamburger div {
      border-bottom: 5px solid #fff;
      width: 35px;
      margin-bottom: 6px;
      margin-left: auto;
      margin-right: auto; }
    .mobile-nav .hamburger div:last-child {
      margin-bottom: 0; }
  .mobile-nav ul {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding-top: 31px;
    transition: 1s; }
    .mobile-nav ul li {
      width: 100%; }

/*=======================================
=            LEFT NAVIGATION            =
=======================================*/
#left-column {
  display: none;
  background-color: #042e4f;
  min-height: 100%;
  min-width: 200px;
  max-width: 220px; }
  #left-column .wide-nav {
    width: 100%;
    margin-top: 50px; }
    #left-column .wide-nav li:last-child {
      border-bottom: 2px solid #fff; }
  #left-column img {
    margin-top: 20px;
    max-width: 80%; }

/*==============================
=            HEADER            =
==============================*/
#top-wrap {
  margin-bottom: 10px; }
  @media only screen and (min-width: 568px) {
    #top-wrap {
      display: none; } }

header {
  z-index: 1; }
  header h1,
  header h3,
  header p {
    display: inline; }
  header img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70%;
    max-width: 300px; }
  header p:first-of-type {
    padding-top: 20px; }
  header .fa-chevron-down {
    margin-bottom: 15px; }

/*====================================
=            MAIN WIDGETS            =
====================================*/
#main-wrap {
  min-height: 100%; }
  @media only screen and (min-width: 568px) {
    #main-wrap {
      max-height: 100vh;
      overflow: auto; } }

.skills li {
  background-color: #135589;
  border-radius: 5px;
  border: 3px solid #000;
  padding: 5px;
  margin: 10px; }

/*----------  HOME WIDGET  ----------*/
#home h2 {
  margin: 7px 0 7px; }

#home .skills {
  margin-top: 7px; }
  #home .skills li {
    transition: all 0.5s ease; }
  #home .skills li:hover {
    transform: rotateZ(-15deg) scale(1.2);
    -webkit-transform: rotateZ(-15deg) scale(1.2);
    -ms-transform: rotateZ(-15deg) scale(1.2); }

#home .welcome {
  background: #042e4f;
  width: 80%;
  padding: 8px;
  margin: 20px 0; }

@media only screen and (min-width: 568px) {
  #home {
    width: 85%; } }

/*----------  ABOUT WIDGET  ----------*/
#about img {
  margin: 15px;
  width: 200px;
  height: 200px; }
  @media only screen and (min-width: 568px) {
    #about img {
      display: none; } }

#about .text {
  background-color: #135589;
  border-radius: 5px;
  padding: 20px;
  margin: 15px; }
  #about .text p {
    margin-bottom: 15px;
    background-color: #042e4f;
    border-radius: 5px;
    padding: 10px; }

#about h3 {
  margin-bottom: 10px; }

@media only screen and (min-width: 568px) {
  #about {
    max-width: 80%;
    margin: 0 auto; } }

/*----------  PORTFOLIO  ----------*/
.overlay {
  width: 200px;
  height: 200px;
  display: none;
  position: absolute;
  background-color: black;
  top: 0;
  opacity: 0.75;
  z-index: 100; }
  .overlay p {
    text-align: center;
    padding: 5px; }

#portfolio {
  padding: 20px 10px; }
  @media only screen and (min-width: 1280px) {
    #portfolio {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 95%; } }
  #portfolio p {
    margin-bottom: 25px; }
  #portfolio h1 {
    margin-top: 12px;
    margin-bottom: 12px; }
  #portfolio .thumb {
    background-color: #042e4f;
    margin: 20px 0px;
    padding: 10px 5px; }
    @media only screen and (min-width: 568px) {
      #portfolio .thumb {
        padding: 10px;
        max-width: 90%;
        margin: 20px auto; } }
    @media only screen and (min-width: 768px) {
      #portfolio .thumb {
        max-width: 75%; } }
    @media only screen and (min-width: 1280px) {
      #portfolio .thumb {
        min-width: 455px;
        max-width: 80%;
        padding: 0; } }
    #portfolio .thumb p {
      margin-bottom: 10px; }
    #portfolio .thumb .thumb-container {
      border: 3px solid #AED9DA;
      margin-bottom: 12px;
      border-radius: 5px; }
      #portfolio .thumb .thumb-container img {
        border: 3px solid #000;
        border-radius: 5px;
        width: 200px;
        height: 200px; }
    #portfolio .thumb .skill-wrap {
      width: 85%; }
      #portfolio .thumb .skill-wrap .skills {
        margin-top: 10px;
        margin-bottom: 10px; }
        #portfolio .thumb .skill-wrap .skills li {
          margin: 5px; }
  @media only screen and (min-width: 1280px) {
    #portfolio .thumb-container {
      position: relative; }
    #portfolio .thumb-container:hover .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100; }
    #portfolio .hidelarge {
      display: none; } }

/*----------  TREEHOUSE WIDGET  ----------*/
.group:after {
  content: "";
  display: table;
  clear: both; }

.team-treehouse {
  margin-top: 15px;
  margin-bottom: 25px; }
  .team-treehouse h1, .team-treehouse h2 {
    text-align: center; }
  .team-treehouse h1 {
    font-size: 2.2rem; }
  .team-treehouse h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff; }

.pieChart {
  width: 15.5em;
  margin: 0 auto;
  padding-top: 1em; }

.pie {
  height: 10.5em;
  width: 10.5em;
  position: relative;
  float: left;
  margin-bottom: 25px; }
  .pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 5.5em;
    height: 5.5em;
    background: #000;
    border-radius: 50%;
    top: 2.5em;
    left: 2.5em; }

.slice {
  position: absolute;
  width: 10.5em;
  height: 10.5em;
  clip: rect(0px, 10.5em, 10.5em, 5.25em);
  animation: bake-pie 1s; }
  .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    clip: rect(0px, 10.5em, 10.5em, 5.25em); }

.legend {
  width: 13em;
  padding-left: 1em;
  float: left; }
  .legend ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em; }
  .legend li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black; }
  .legend em {
    font-style: normal; }
  .legend span {
    float: right;
    font-weight: bold; }

/*----------  CONTACT WIDGET  ----------*/
#contact {
  padding: 0 20px;
  width: 100%; }
  @media only screen and (min-width: 480px) and (max-width: 567px) {
    #contact {
      max-width: 85%;
      margin: 0 auto; } }
  #contact .copy {
    padding: 5px; }
    @media only screen and (min-width: 568px) {
      #contact .copy {
        display: none; } }
  #contact .contactbox {
    background-color: #042e4f;
    margin: 20px 0;
    padding: 10px 5px;
    width: 100%; }
    @media only screen and (min-width: 568px) {
      #contact .contactbox {
        max-width: 700px; } }
    #contact .contactbox ul {
      padding-left: 20px;
      padding-right: 3px; }
      @media only screen and (min-width: 768px) {
        #contact .contactbox ul {
          padding-right: 20px; } }
      #contact .contactbox ul li {
        list-style-type: circle;
        padding: 5px 0; }
    #contact .contactbox h1 {
      margin-bottom: 8px; }
      @media only screen and (min-width: 768px) {
        #contact .contactbox h1 {
          margin-right: 20px; } }
    @media only screen and (min-width: 768px) {
      #contact .contactbox .split .l-split {
        margin-right: 20px; } }
    @media only screen and (min-width: 768px) {
      #contact .contactbox .leftalign {
        width: 120px; } }
  #contact .socialbox p {
    margin: 5px 0; }
  #contact .socialcontact a,
  #contact .githubcontact a {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
    margin: 10px; }
  #contact div:nth-of-type(3) {
    margin-bottom: 70px; }
  #contact .green {
    background-color: #70CC72; }
  #contact .lightblue {
    background-color: #62C2E4; }
  #contact .red {
    background-color: #FE4365; }
  #contact .purple {
    background-color: #C49CDE; }
  #contact .green,
  #contact .lightblue,
  #contact .red,
  #contact .purple {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12); }
  #contact .green:hover,
  #contact .lightblue:hover,
  #contact .red:hover,
  #contact .purple:hover {
    color: #000;
    text-shadow: none; }

/*==============================
=            FOOTER            =
==============================*/
footer {
  padding: 20px 0px 5px; }
  footer ul {
    margin: 15px 0px 30px 0px;
    min-height: 30px;
    max-height: 35px; }
    footer ul li {
      padding: 10px; }
      footer ul li img {
        width: 30px;
        height: 30px; }
  @media only screen and (min-width: 568px) {
    footer {
      display: none; } }

/*==================================================
=       DOCUMENT LEVEL FONT SIZEADJUSTMENTS        =
==================================================*/
html {
  font-size: 16px; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 17px; } }

@media only screen and (min-width: 1280px) {
  html {
    font-size: 18px; } }

nav {
  font-size: 1.375rem; }

footer {
  font-size: 0.75rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-size: 1.3rem; }

/*=============================
=       FONTS & COLORS        =
=============================*/
h1, h2, h3 {
  font-family: "Philosopher", sans-serif; }

body {
  font-family: "Muli", sans-serif;
  color: #135589; }

h1 {
  color: #000; }

h2 {
  color: #2A93D5; }

/*====================================
=            LEFT NAV BAR            =
====================================*/
#left-column h1,
#left-column h3,
#left-column p {
  text-align: center; }

#left-column h1 {
  font-size: 2.1rem; }

#left-column h3,
#left-column p {
  font-size: 1rem; }

/*==================================
=            NAVIGATION            =
==================================*/
nav ul li,
.welcome,
#home h2,
.text p,
.totop,
#portfolio p,
.thumb,
#contact p,
#about h3 {
  text-align: center; }

nav ul li a {
  color: #3DDAD7;
  transition: all 0.5s ease;
  text-decoration: none; }

nav ul li a:hover {
  color: #2A93D5;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3); }

/*============================
=            HOME            =
============================*/
.welcome p {
  color: #fff; }

/*=============================
=            ABOUT            =
=============================*/
.text {
  color: #f9f1fd; }
  .text h3 {
    color: #fff; }

/*=================================
=            PORTFOLIO            =
=================================*/
#portfolio h1 {
  font-size: 2.1em;
  color: #AED9DA; }

#portfolio h3 {
  color: #AED9DA; }

#portfolio .thumb p {
  font-size: 1em;
  color: #3DDAD7; }

#portfolio p {
  color: #000;
  text-align: center; }

#portfolio .overlay p {
  font-size: 0.9rem;
  color: #fff; }

/*===============================
=            CONTACT            =
===============================*/
#contact p {
  color: #fff; }

#contact h1 {
  font-size: 1.5em;
  text-align: center;
  color: #3DDAD7; }
  @media only screen and (min-width: 768px) {
    #contact h1 {
      text-align: left; } }

#contact .intro {
  color: #000; }

#contact .copy {
  text-align: center;
  color: #135589; }

#contact .contactbox li {
  color: #fff; }

/*================================
=            TOP WRAP            =
================================*/
#head h1 {
  font-weight: 700; }

#home h2 {
  font-weight: 400; }

/*====================================
=            SPECIFIC USE            =
====================================*/
/*================================================
=            SKILL BUTTON TEXT COLORS            =
================================================*/
.html {
  color: #8ded20; }

.css {
  color: #07f77f; }

.javascript {
  color: #c4fc35; }

.jquery {
  color: #07f72e; }

.sass {
  color: #b3ed21; }

.ajax {
  color: #72f707; }

.mobile {
  color: #4ff787; }

.svg {
  color: #15c951; }

.gulp {
  color: #bce25a; }

.flex {
  display: flex; }

.wrap {
  flex-wrap: wrap; }

.column {
  flex-direction: column; }

.center {
  justify-content: center; }

.center2 {
  align-items: center; }

.centerself {
  align-self: center; }

.end {
  align-self: flex-end; }

.order1 {
  order: -1; }

.between {
  justify-content: space-between; }

/*=================================
=            SPECIFICS            =
=================================*/
.skills li,
#nav li {
  align-self: center; }

.content {
  flex: 1 0 auto;
  flex-direction: column; }
  @media only screen and (min-width: 568px) {
    .content {
      flex: 0 1 auto;
      flex-direction: row; } }

@media only screen and (min-width: 568px) {
  #left-column {
    display: flex; } }

@media only screen and (min-width: 768px) {
  .contactbox {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; } }

@media only screen and (min-width: 768px) {
  .contactbox .split {
    flex-direction: row;
    align-items: center; } }

@media only screen and (min-width: 568px) {
  #home img {
    order: 99; } }

footer {
  display: flex; }

/*# sourceMappingURL=main.css.map */
