.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.centerself {
	align-self: center;
}

.order1 {
	order: -1;
}

// .order2 {
// 	order: 1;
// }

// .order3 {
// 	order: 2;
// } 

.skills li,
#nav li {
	align-self: center;
}