.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.center2 {
	align-items: center;
}

.centerself {
	align-self: center;
}

.end {
	align-self: flex-end;
}


.order1 {
	order: -1;
}

.between {
	justify-content: space-between; 
}


/*=================================
=            SPECIFICS            =
=================================*/

.skills li,
#nav li { 
	align-self: center;
}

//Sticky Footer
	//Also needed the div with a class of content in the HTML 
		//And a 100% height on body and html
		//And flex column on the body tag
.content {
	flex: 1 0 auto;
}  

.contactbox {
	@include largetablet {
		width: 60%;
		flex-direction: row; 
		align-items: center;
	}
	h1 {
		@include largetablet {
			margin-right: 20px;
		}
	}

}