/*=================================
=            UNIVERSAL            =
=================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

html, body,  {
	min-height: 100vh;
}

body {
	background-image: $noise;
	background-color: $bodybg;  
}    

ul {
	list-style-type: none;
}

/*====================================
=            SPECIFIC USE            =
====================================*/

.content {
	background: linear-gradient(to bottom, rgba(72, 48, 86, 0.4) 0%, rgba(0, 0, 0, 1) 85%);
}



 

/*==============================
=            HEADER            =
==============================*/

#top-wrap {
	margin-bottom: 15px; 
}

header {
	z-index: 1; //needed to make drop-down hover
	h1 {
		display: inline;
	}
	p {
		display: inline;
	}
	img {
		width: 110px;
		height: 110px;
		border-radius: 15px; 
		border: $gen-border;
		margin-top: 12px;
		margin-bottom: 12px;
		//transition: all 0.6s ease-in;
	}
	// img:hover {
	// 	border-radius: 5px;
	// }
}


nav {
	position: relative; //needed to make drop-down hover
	width: 100%; //needed to make drop-down hover
	margin-bottom: 20px;


	/*----------  Hamburger Menu  ----------*/
	.hamburger {
		cursor: pointer;
		padding: 12px;
		background-color: $hamburgerbg;
		z-index: 100;
		position: relative;
		width: 100%; 

		div {
			border-bottom: $hamburger-style;
			width: 35px;
			margin-bottom: 6px;
			margin-left: auto;
			margin-right: auto; 
		}
		div:last-child {
			margin-bottom: 0;
		}
	}

	/*----------  Nav list  ----------*/
	ul {
		z-index: 10; //needed to make drop-down hover
		position: absolute; //needed to make drop-down hover
		width: 100%; //needed to make drop-down hover
		padding-top: 51px;
		transition: 1s; 
	  

		li { 
			width: 100%;
			background-color: $navbg;
			border-top: $nav-border;

			a {
				display: block;
				padding: 12px;
			}
		}
	}
}


/*====================================
=            MAIN WIDGETS            =
====================================*/

#main-wrap {
	margin-top: 7px;
}

.stars {
	width: 35%; 
}

.skills {
		li {
			padding: 5px;
			margin: 10px;
			background-color: $skills;
			border-radius: 5px; 
			border: $skills-border;
		}  
	}

#home { 
	h2 {
		margin: 12px 0 7px;
	}
	.skills {
		margin-top: 7px;
		li {
			transition: all 0.5s ease;
		} 
		li:hover { 
			transform: rotateZ(-15deg)  scale(1.2);
		   		-webkit-transform: rotateZ(-15deg)  scale(1.2); 
	        	-ms-transform: rotateZ(-15deg)  scale(1.2); 
		}
	}
	.welcome {
		background: $welcome-bg;
		border: $gen-border;
		width: 80%; 
		padding: 4px; 
		margin-bottom: 20px;
	}
}

#about {
	img {
		margin-bottom: 15px;
		width: 200px;
		height: 200px; 
		border-radius: 5px;
	}

	.text {
		padding: 5px;
		p {
			margin-bottom: 10px;
		}
	}

}

#portfolio {
	padding: 0 20px 20px 20px;

	p {
		margin-bottom: 25px;
	}

	h1 {
		margin-top: 12px;
		margin-bottom: 12px; 
	}

	.thumb-container {
		border: $img-border2;
		margin-bottom: 12px; 
 
		img {
			border: $gen-border;
		}
	}
	.skills {
		margin-bottom: 10px;
		margin-top: 10px;
		li { 
			margin: 5px;
		}
	}
	img {
		width: 200px;
		height: 200px;
	}
	.thumb { 
		margin-bottom: 30px;
		border-top: $thumb-border;
		border-bottom: $thumb-border;
		p {
			margin-bottom: 15px;
		}
	}
	.skill-wrap {
		width: 80%;     
	} 
}

#contact {
	padding: 0 20px;
}

/*==============================
=            FOOTER            =
==============================*/

footer {
	background-color: $black;

	ul {
		margin-bottom: 15px; 
		min-height: 30px;
		max-height: 35px;
		li {
			padding: 10px; 
				img {
					width: 30px;  
					height: 30px;	
				}
		}
	}
}






//HAVE TO FIGURE OUT WHERE TO PUT THIS
//TREEHOUSE WHEEL CODE FROM ETHAN NEFF
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// properties
$color-background: #000; //f9f9f9
$color-primary: #222222;
$size-circle: 10.5em; //12.5
$size-thickness: 2.5em;
$size-inner: $size-circle - $size-thickness * 2;


// clearfix
.group:after {content:"";display:table;clear:both;}

// general
body {
  // font-family: "Open Sans", Arial;
  // background: $color-background;

  a {
    text-decoration: none;
  }
  
  .team-treehouse {

    h1, h2 {
      text-align: center;
    }
    h2 {
      font-weight: normal;
    }
  }
}


// pie chart
.pieChart {
  width: $size-circle + 5em; //will need to make this bigger at larger screens. originally was size-circle +13em
  margin: 0 auto;
  padding-top: 1em;
}

// pie
.pie {
  height: $size-circle;
  width: $size-circle;
  position: relative;
  float:left;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: $size-inner;
    height: $size-inner;
    background: $color-background;
    border-radius: 50%;
    top: $size-thickness;
    left: $size-thickness;
  }
}

.slice {
  position: absolute;
  width: $size-circle;
  height: $size-circle;
  clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  animation: bake-pie 1s;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  }
}

// legend
.legend {
  width: 13em;
  padding-left: 1em;
  float:left;
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
  }
  li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
    font-weight: bold;
  }
}
