/*=================================
=            UNIVERSAL            =
=================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

html {
height: 100%;
}

body {
	//background-image: $noise; 
	background-color: $bodybg; 
	color: $bodytext;
	min-height: 100%;
}    

ul {
	list-style-type: none; 
}

/*==================================== 
=            SPECIFIC USE            = 
====================================*/

.content {
	min-height: 100vh; 
	width: 100%; 

	//background: linear-gradient(to bottom, rgba(72, 48, 86, 0.4) 0%, rgba(0, 0, 0, 1) 85%);
}

.landscape-wrap {
	margin-top: 55px;

	@include landscapephone {
		margin-top: 0;
		width: 90%;
		min-height: 100%; 
		margin-left: 50px;  

		//background: linear-gradient(to bottom, rgba(72, 48, 86, 0.4) 0%, rgba(0, 0, 0, 1) 85%);
	}
} 

//INSET BOX SHADOW
.shadow2 {
   -moz-box-shadow:    inset 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 10px #fff;
   box-shadow:         inset 0 0 10px #fff;
}

//INSET BOX SHADOW
.shadow1 {
	-webkit-box-shadow: inset 0 0 12px 10px rgba(19,85,137,1);
	-moz-box-shadow: inset 0 0 12px 10px rgba(19,85,137,1);
	box-shadow: inset 0 0 12px 10px rgba(19,85,137,1);
}



/*=========================================
=            MOBILE NAVIGATION            =
=========================================*/

#sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 30px;
	z-index: 100;
}

.mobile-nav {
	position: relative; //needed to make drop-down hover
	width: 100%; //needed to make drop-down hover
	margin-bottom: 20px;

	@include landscapephone {
		display: none;
	}

	/*----------  Hamburger Menu  ----------*/
	.hamburger {
		width: 100%; 
		padding: 12px;
		background-color: $hamburgerbg;
		cursor: pointer;
		z-index: 100;
		position: relative;

		div {
			border-bottom: $hamburger-style;
			width: 35px;
			margin-bottom: 6px;
			margin-left: auto;
			margin-right: auto; 
		}
		div:last-child {
			margin-bottom: 0;  
		}
	}

	/*----------  Nav list  ----------*/
	ul {
		z-index: 10; //needed to make drop-down hover
		position: absolute; //needed to make drop-down hover
		width: 100%; //needed to make drop-down hover
		padding-top: 31px; // WAS 51 
		transition: 1s; 

		li { 
			width: 100%;
			@extend %navcolor;

			a {
				@extend %navstyle;
			}
		}
	}
}


/*=======================================
=            LEFT NAVIGATION            =
=======================================*/

#left-column {
	display: none;
	background-color: $leftmenubg; 
	min-height: 100%;
	min-width: 200px; 
	max-width: 220px; 

	.wide-nav { 
		width: 100%;
		margin-top: 50px;

		li { 
			@extend %widenavcolor;

			a {
				@extend %navstyle; 
			}
		}

		li:last-child {
			border-bottom: $nav-border; 
		}

		li:hover {
			@extend %widenavcolorhover;
		}

		.selected {
			@extend %widenavcolorhover;
		}
	}

	img {
		margin-top: 20px;
		max-width: 80%;
	}

}


/*==============================
=            HEADER            =
==============================*/

#top-wrap {
	margin-bottom: 10px; 

	@include landscapephone {
		display: none;  
	}
}

header {
	z-index: 1; //needed to make drop-down hover

	h1,
	h3,
	p {
		display: inline;
	}

	img {
		@extend %myimage;
		@include margins(30px, 20px) 
		width: 70%; 
		max-width: 300px;
	} 

	p:first-of-type { 
		padding-top: 20px;
	} 

	.fa-chevron-down {
		margin-bottom: 15px;
	}
}

/*====================================
=            MAIN WIDGETS            =
====================================*/ 

#main-wrap {
	min-height: 100%; 

	@include landscapephone {
		max-height: 100vh;
		overflow: auto;
	}
}

.skills li {
	background-color: $skillsbg;
	border-radius: 5px; 
	border: $skills-border;
	padding: 5px;
	margin: 10px;
}

/*----------  HOME WIDGET  ----------*/

#home { 

	h2 {
		margin: 7px 0 7px;
	}

	.skills {
		margin-top: 7px;
		li { 
			transition: all 0.5s ease;
		} 
		li:hover { 
			transform: rotateZ(-15deg)  scale(1.2);
		   		-webkit-transform: rotateZ(-15deg)  scale(1.2); 
	        	-ms-transform: rotateZ(-15deg)  scale(1.2); 
		}

	}

	.welcome {
		@extend %widgetborders; 
		background: $widget-bg; 
		width: 80%; 
		padding: 8px; 
		margin: 20px 0;
	}

	// @include largephone {

	// 	margin: 0 auto;
	// }

	// img {
	// 	display: none;
	// 	@extend %myimage;
	// 	// @include landscapephone {
	// 	// 	display: inline;  
	// 	// } 
	// }

	@include landscapephone {
		width: 85%;
	}	
}

/*----------  ABOUT WIDGET  ----------*/

#about { 

	img {
		@extend %myimage;
		margin: 15px;
		width: 200px;
		height: 200px; 

		@include landscapephone {
			display: none;
		} 
	} 

	.text {
		background-color: $about-bg;    
		border-radius: 5px;
		padding: 20px;
		margin: 15px; 
		p {
			margin-bottom: 15px;
			background-color: $widget-bg;   
			border-radius: 5px;
			padding: 10px;
		}
	}

	h3 { 
		margin-bottom: 10px;
	}

	@include landscapephone {
		max-width: 80%;
		margin: 0 auto;
	}
}

/*----------  PORTFOLIO  ----------*/

.overlay{
	 width:200px;
	 height:200px;
	 display:none; 
	 position: absolute;
	background-color: black;
	top: 0;
	opacity: 0.75;
	z-index: 100;

	p {
		text-align: center;
		padding: 5px;
	}
}

#portfolio {

	padding: 20px 10px; 

		@include desktop {
			flex-direction: row; 
			flex-wrap: wrap;
			justify-content: center;
			min-width: 95%; 
		}

	p {
		margin-bottom: 25px;
	}

	h1 {
		@include margins(12px, 12px)
	}


	.thumb { 
		@extend %widgetborders;
		background-color: $widget-bg; 
		margin: 20px 0px; 
		padding: 10px 5px;

		@include landscapephone {
			padding: 10px;
			max-width: 90%;
			margin: 20px auto;
		} 
		@include largetablet {
			max-width: 75%;
		}
		@include desktop {
			min-width: 455px; 
			max-width: 80%;
			padding: 0; 
		}


		p {
			margin-bottom: 10px;
		}

		.thumb-container {
			border: $thumb-container-border;
			margin-bottom: 12px; 
			border-radius: 5px; 
 			

			img {  
				border: $img-border2;
				border-radius: 5px;
				width: 200px;
				height: 200px;
			}

		}

		.skill-wrap {
			width: 85%;    

			.skills {
				@include margins(10px, 10px)
				li {  
					margin: 5px;
				}
			}  
		} 
	} 



	@include desktop {  //test
		.thumb-container {
			position: relative;
		}
		.thumb-container:hover .overlay {
			display: flex; 
			justify-content: center;
			align-items: center;
			z-index: 100;
		} 
		.hidelarge {
			display: none;
		}
	}

}

/*----------  TREEHOUSE WIDGET  ----------*/

//HAVE TO FIGURE OUT WHERE TO PUT THIS
//TREEHOUSE WHEEL CODE FROM ETHAN NEFF
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// properties
$color-background: #000; //f9f9f9
$color-primary: #222222;
$size-circle: 10.5em; //12.5
$size-thickness: 2.5em;
$size-inner: $size-circle - $size-thickness * 2;


// clearfix
.group:after {content:"";display:table;clear:both;}

// general

  .team-treehouse {
	
	margin-top: 15px;
	margin-bottom: 25px;
    h1, h2 {
      text-align: center;
    } 
    h1 {
    	font-size: 2.2rem;
    }
    h2 {
      font-weight: normal;
 	  font-size: 1.2rem; 
 	  margin-top: 15px;
 	  margin-bottom: 15px;
 	  color: $white;
    }
  }



// pie chart
.pieChart {
  width: $size-circle + 5em; //will need to make this bigger at larger screens. originally was size-circle +13em
  margin: 0 auto;
  padding-top: 1em;
}

// pie
.pie {
  height: $size-circle;
  width: $size-circle;
  position: relative;
  float:left;
  margin-bottom: 25px; 

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: $size-inner;
    height: $size-inner;
    background: $color-background;
    border-radius: 50%;
    top: $size-thickness;
    left: $size-thickness;
  }
}

.slice {
  position: absolute;
  width: $size-circle;
  height: $size-circle;
  clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  animation: bake-pie 1s;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  }
}

// legend
.legend {
  width: 13em;
  padding-left: 1em;
  float:left;
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
  }
  li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
    font-weight: bold;
  }
}


/*----------  CONTACT WIDGET  ----------*/

#contact {
	padding: 0 20px;  	
	width: 100%; 

	@include largephone {
		max-width: 85%;
		margin: 0 auto;
	}

	.copy { 
		padding: 5px;

		@include landscapephone {
			display: none;
		}
	} 

	.contactbox {
		@extend %widgetborders;
		background-color: $widget-bg; 
		margin: 20px 0; 
		padding: 10px 5px;
		width: 100%; 
 
		@include landscapephone {
			max-width: 700px;
		}

		ul {
			padding-left: 20px;
			padding-right: 3px;

			@include largetablet {
				padding-right: 20px;
			}

			li { 
				list-style-type: circle;
				padding: 5px 0;
			}
		}
		h1 {
			margin-bottom: 8px; 

			@include largetablet {
				margin-right: 20px;

			}
		}
		.split {
			.l-split {
				@include largetablet {
					margin-right: 20px;
				}
			}
		} 

		.leftalign {
			@include largetablet {
				width: 120px;
			}
		}
	}

	.socialbox p {
		margin: 5px 0;
	}

	.socialcontact a,
	.githubcontact a {
	    border-radius: 10px; 
	    width: 50px;
	    height: 50px;
	    color: $contactbuttons;
	    text-align: center;
	    line-height: 50px;
	   -webkit-transform: translate3d(0, 0, 0);
	   transform: translate3d(0, 0, 0);
	   -webkit-transition: -webkit-transform ease-out 200ms;
	   transition: -webkit-transform ease-out 200ms;
	   transition: transform ease-out 200ms;
	   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
	   margin: 10px;
	}

	div:nth-of-type(3) {
		margin-bottom: 70px;
	}

	// ICON COLORS //

	.green {
	   background-color: $linkedin;
	}

	.lightblue {
	   background-color: $twitter;
	}

	.red {
	   background-color: $google;
	} 

	.purple {
	   background-color: $github;
	}

	.green,
	.lightblue,
	.red,
	.purple {
	   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
	   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
	}

	.green:hover,
	.lightblue:hover,
	.red:hover,
	.purple:hover {
	   color: $black; 
	   text-shadow: none;
	}
}

/*==============================
=            FOOTER            =
==============================*/

footer {
	padding: 20px 0px 5px; 

	ul {
		margin: 15px 0px 30px 0px;;
		min-height: 30px;
		max-height: 35px;
		li {
			padding: 10px; 
				img {
					width: 30px;   
					height: 30px;	
				} 
		}
	}
	@include landscapephone {
		display: none;
	}
}






