/*=================================
=            UNIVERSAL            =
=================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

html {
height: 100%;
}

body {
	background-image: $noise;
	background-color: $bodybg; 
	min-height: 100%;
}    

ul {
	list-style-type: none; 
}

/*====================================
=            SPECIFIC USE            = 
====================================*/

.content {
	flex-direction: column;  //NEEDED FOR LEFT NAV
	background: linear-gradient(to bottom, rgba(72, 48, 86, 0.4) 0%, rgba(0, 0, 0, 1) 85%);
	position: relative; 
	min-height: 100%; 
	width: 100%; 
	@include landscapephone { 
		flex-direction: row; //NEEDED FOR LEFT NAV
	} 
}

.landscape-wrap {
	//TEST
	margin-top: 55px;

	@include landscapephone {
		//background: linear-gradient(to bottom, rgba(72, 48, 86, 0.4) 0%, rgba(0, 0, 0, 1) 85%);
		position: absolute; //need this for it to work with the sticky left nav
		right: 0;
		min-height: 100%;
		margin-left: 260px; //need this for it to be pushed to the right away from sticky nav
	}
} 

/*=======================================
=            LEFT NAVIGATION            =
=======================================*/

#left-column {
	display: none;
	background-color: $black;
	min-height: 100%;
	width: 30%; 
	max-width: 250px; //don't want the nav to get any wider than this
	position: fixed; //need this for sticky left nav
	margin-left: 0px; //need this for sticky left nav

	

	@include landscapephone {
		display: flex;  
	}

	.wide-nav { 
		width: 100%;

		ul {
			width: 100%;
			height: 100%;
		}

		li { 
		width: 100%;
		@extend %navcolor;

			a {
				@extend %navstyle;
			}
		}

	}
}

/*=========================================
=            MOBILE NAVIGATION            =
=========================================*/

#sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 30px;
	z-index: 100;
}

.mobile-nav {
	position: relative; //needed to make drop-down hover
	width: 100%; //needed to make drop-down hover
	margin-bottom: 20px;

	@include landscapephone {
		display: none;
	}

	/*----------  Hamburger Menu  ----------*/
	.hamburger {
		cursor: pointer;
		padding: 12px;
		background-color: $hamburgerbg;
		z-index: 100;
		position: relative;
		width: 100%; 

		div {
			border-bottom: $hamburger-style;
			width: 35px;
			margin-bottom: 6px;
			margin-left: auto;
			margin-right: auto; 
		}
		div:last-child {
			margin-bottom: 0;  
		}

	}

	/*----------  Nav list  ----------*/
	ul {
		z-index: 10; //needed to make drop-down hover
		position: absolute; //needed to make drop-down hover
		width: 100%; //needed to make drop-down hover
		padding-top: 31px; // WAS 51 
		transition: 1s; 
	  

		li { 
			width: 100%;
			@extend %navcolor;

			a {
				@extend %navstyle;
			}
		}
	}
}




/*==============================
=            HEADER            =
==============================*/

#top-wrap {
	margin-bottom: 10px; 

	@include landscapephone {
		display: none;  
	}
}

header {
	z-index: 1; //needed to make drop-down hover

	h1,
	h3,
	p {
		display: inline;
	}

	img {
		@extend %myimage;
		@include margins(30px, 20px)
		// margin-top: 30px;
		// margin-bottom: 20px;
		//transition: all 0.6s ease-in;  
	} 

	// img:hover {
	// 	border-radius: 5px;
	// } 

	p:first-of-type { 
		padding-top: 20px;
	} 

	.fa-chevron-down {
		margin-bottom: 15px;
	}
}








/*====================================
=            MAIN WIDGETS            =
====================================*/ 

#main-wrap {
	min-height: 100%; 
}

.skills li {
	background-color: $skills;
	border-radius: 5px; 
	border: $skills-border;
	padding: 5px;
	margin: 10px;
}

/*----------  HOME WIDGET  ----------*/

#home { 

	h2 {
		margin: 7px 0 7px;
	}

	.skills {
		margin-top: 7px;
		li { 
			transition: all 0.5s ease;
		} 
		li:hover { 
			transform: rotateZ(-15deg)  scale(1.2);
		   		-webkit-transform: rotateZ(-15deg)  scale(1.2); 
	        	-ms-transform: rotateZ(-15deg)  scale(1.2); 
		}
	}

	.welcome {
		@extend %widgetborders; 
		background: $widget-bg; 
		width: 80%; 
		padding: 8px; 
		margin: 20px 0;
	}

	@include largephone {
		max-width: 80%;
		margin: 0 auto;
	}

	img {
		display: none;
		@extend %myimage;
		@include landscapephone {
			display: inline;  
		} 
	}
}

/*----------  ABOUT WIDGET  ----------*/

#about {

	img {
		margin-bottom: 15px;
		width: 200px;
		height: 200px; 
		border-radius: 5px;
	}

	.text {
		background-color: $widget-bg;   
		border-radius: 5px;
		padding: 8px;
		margin: 15px 5px;
		p {
			margin-bottom: 15px;
			background-color: rgba(187, 140, 212, 0.27);   
			border-radius: 5px;
			padding: 5px;
		}
	}

	h3 { 
		margin-bottom: 10px;
	}

	@include largephone {
		max-width: 80%;
		margin: 0 auto;
	}

}

/*----------  PORTFOLIO  ----------*/


#portfolio {

	padding: 0 10px 20px 10px;

	p {
		margin-bottom: 25px;
	}

	h1 {
		@include margins(12px, 12px)
		// margin-top: 12px;
		// margin-bottom: 12px; 
	}

	.thumb { 
		@extend %widgetborders;
		background-color: $widget-bg; 
		margin: 20px 0; 
		padding: 10px 5px;

		@include largephone {
			padding: 10px;
		}

		p {
			margin-bottom: 15px;
		}

		.thumb-container {
			border: $img-border2;
			margin-bottom: 12px; 
 
			img {
				border: $gen-border;
				width: 200px;
				height: 200px;
			}
		}
		.skill-wrap {
			width: 80%;   

			.skills {
				@include margins(10px, 10px)
				// margin-bottom: 10px;
				// margin-top: 10px;
				li {  
					margin: 5px;
				}
			}  
		} 
	}

	@include largephone {
		max-width: 80%;
		margin: 0 auto;
	}

}

/*----------  TREEHOUSE WIDGET  ----------*/

//HAVE TO FIGURE OUT WHERE TO PUT THIS
//TREEHOUSE WHEEL CODE FROM ETHAN NEFF
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// properties
$color-background: #000; //f9f9f9
$color-primary: #222222;
$size-circle: 10.5em; //12.5
$size-thickness: 2.5em;
$size-inner: $size-circle - $size-thickness * 2;


// clearfix
.group:after {content:"";display:table;clear:both;}

// general

  .team-treehouse {
	
	margin-top: 15px;
	margin-bottom: 25px;
    h1, h2 {
      text-align: center;
    } 
    h1 {
    	font-size: 2.2rem;
    }
    h2 {
      font-weight: normal;
 	  font-size: 1.2rem; 
 	  margin-top: 15px;
 	  margin-bottom: 15px;
 	  color: $white;
    }
  }



// pie chart
.pieChart {
  width: $size-circle + 5em; //will need to make this bigger at larger screens. originally was size-circle +13em
  margin: 0 auto;
  padding-top: 1em;
}

// pie
.pie {
  height: $size-circle;
  width: $size-circle;
  position: relative;
  float:left;
  margin-bottom: 25px; 

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: $size-inner;
    height: $size-inner;
    background: $color-background;
    border-radius: 50%;
    top: $size-thickness;
    left: $size-thickness;
  }
}

.slice {
  position: absolute;
  width: $size-circle;
  height: $size-circle;
  clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  animation: bake-pie 1s;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  }
}

// legend
.legend {
  width: 13em;
  padding-left: 1em;
  float:left;
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
  }
  li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
    font-weight: bold;
  }
}

/*----------  CONTACT WIDGET  ----------*/


#contact {

	padding: 0 20px;  	

	@include largephone {
		max-width: 80%;
		margin: 0 auto;
	}

	.copy {
		width: 100%;
		position: fixed;
		bottom: 0;
		text-align: center;
		background-color: $black;
		border-top: 1px solid white; 
		padding: 5px;
	} 

	.contactbox {
		@extend %widgetborders;
		background-color: $widget-bg; 
		margin: 20px 0; 
		padding: 10px 5px;

		@include largephone {
			max-width: 85%;
			padding: 10px;
		}

		ul {
			padding-left: 20px;
			padding-right: 3px;

			li { 
				list-style-type: circle;
				padding: 5px 0;
			}
		}
		h1 {
			margin-bottom: 8px; 
		}
	}

	.socialbox p {
		margin: 5px 0;
	}

	.socialcontact a,
	.githubcontact a {
	    border-radius: 10px; 
	    width: 50px;
	    height: 50px;
	    color: #FFFFFF;
	    text-align: center;
	    line-height: 50px;
	   -webkit-transform: translate3d(0, 0, 0);
	   transform: translate3d(0, 0, 0);
	   -webkit-transition: -webkit-transform ease-out 200ms;
	   transition: -webkit-transform ease-out 200ms;
	   transition: transform ease-out 200ms;
	   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
	   margin: 10px;
	}

	div:nth-of-type(3) {
		margin-bottom: 70px;
	}

	// .githubcontact {
	// 	margin-bottom: 40px;
	// }

	// ICON COLORS //

	.green {
	   background-color: #70CC72;
	}

	.lightblue {
	   background-color: #62C2E4;
	}

	.red {
	   background-color: #FE4365;
	} 


	.purple {
	   background-color: #C49CDE;
	}

	.green,
	.lightblue,
	.red,
	.purple {
	   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
	   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
	}

	.green:hover,
	.lightblue:hover,
	.red:hover,
	.purple:hover {
	   color: $white; 
	   text-shadow: none;
	}

}

/*==============================
=            FOOTER            =
==============================*/

footer {
	display: flex;
	background-color: $black;

	ul {
		margin-bottom: 15px; 
		min-height: 30px;
		max-height: 35px;
		li {
			padding: 10px; 
				img {
					width: 30px;   
					height: 30px;	
				}
		}
	}
	@include landscapephone {
		display: none;
	}
}






