//ctrl + shift + c = color picker

/*==============================
=            COLOR PALETTE            =
==============================*/

$black: #000;
$white: #fff;
$darkgray: #383838;  //**
$medgray: #464646;

$dkpurple: #170421;
$medpurple: #483056;
$olive: #687842;
$ltpurple: #AA70CA;
$ltgreen: #CEF481;
$veryltpurple: #F4E0FF;
$ltgray: #9F9F9F; 

//Shades of blue for skill buttons
$html: #3E91EF;
$css: #3AE9EF;
$js: #70ABFC;
$jq: #6898E7;
$sass: #72EED5;
$AJAX: #289AF1;
$gulp: #ADA9DB;
$mobile: #91EEF1;
$svg: #66CFF1;


/*====================================
=            COLOR CONFIG            =
====================================*/

$bodybg: $dkpurple;
$bodytext: $ltgray;
$hamburgerbg: $black;
$navbg: $black;
$navtxt: $ltgreen;
$navtxthover: $ltpurple;
$skills: $black;
$fineprint: $olive;
 

/*=============================
=            FONTS            =
=============================*/
$headings-bold: 700;
$headings: 400;
$bodytxt: 400;
$bodyitalic: 400i;
$bodybold: 700;

$heading: 'Philosopher', sans-serif;
$body: 'Muli', sans-serif; 


/*==================================
=            FONT SIZES            =
==================================*/


/*===============================
=            BORDERS            =
===============================*/

$hamburger-style: 5px solid $white;
$nav-border: 1px solid $medgray;
$skills-border: 3px solid $ltgreen;
$img-border: 2px solid $black;
$img-border2: 2px solid $veryltpurple;


