/*==============================
=            COLOR PALETTE            =
==============================*/

$black: #000;
$white: #fff;
$darkgray: #383838;  //**
$medgray: #464646;
$ltgray: #7F7E7E;  //**

/*====================================
=            COLOR CONFIG            =
====================================*/

$bodybg: $darkgray;
$bodytext: $ltgray;
$hamburgerbg: $black;
$navbg: $black;



/*==================================
=            FONT SIZES            =
==================================*/


/*===============================
=            BORDERS            =
===============================*/

$hamburger-style: 5px solid $white;
$nav-border: 1px solid $medgray;


